export SLACK_SIGN_TOKEN=@SIGN_TOKEN_FROM_SLACK@
export SLACK_CLIENT_TOKEN=@CLIENT_TOKEN_FROM_SLACK@
export SLACK_ACCESS_TOKEN=xoxb-@ACCESS_TOKEN_FROM_SLACK@
export SLACK_USER_TOKEN=xoxp-1009515637703-@USER_TOKEN_FROM_SLACK@
python3 $@
